# Do not use with Docker builds, only for local dev with mkdocs CLI
mkdocs==1.6.1
mkdocs-material==9.5.34
mkdocs-minify-plugin==0.8.0
pygments==2.18.0
pymdown-extensions==10.9
markdown-blockdiag==0.8.0
markdown-include==0.8.1
mkdocs-pdf-export-plugin==0.5.10
git+https://github.com/linkchecker/linkchecker@v10.5.0#egg=linkchecker
